.client {
  padding-top: 94px;
  padding-bottom: 94px;
}
.client-container {
  width: 1200px;
  height: 184px;
}
.client-text {
  @include font (null, 36px, 1.17);
  color: var(--header-color);
  padding-bottom: 50px;
  @include align-font();
}
  .client-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -50px;
    margin-bottom: 122px;
    color: purple;
  }
  .client-link {
    @include display-align();
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    margin-left: 30px;
    margin-top: 50px;
    color: #AFB1B8;
    width: 170px;
    height: 92px;
    transition: fill 250ms  cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
    border: 1px solid var(--accent-color);
}
  }
  

  .client-icon {
    fill: #AFB1B8;
    transition: fill 250ms  cubic-bezier(0.4, 0, 0.2, 1);
    .client-link:hover &,
    .client-link:focus & {
    fill: var(--accent-color);
    }
  }


