.client {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 768px) {
    
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
// .client-container {
//   // width: 1200px;
//   // height: 184px;
// }
.client-text {
  font-size: 28px;
  line-height: 1.17;
  color: var(--header-color);
  padding-bottom: 30px;
  @include align-font();
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 50px;
  }
}
  .client-list {
    display: flex;
    justify-content: space-around;
    //flex-direction: row;
    flex-wrap: wrap;
    flex-basis: calc(100% / 2 - 30px);
    margin-left: -30px;
    margin-top: -50px;
    //margin-bottom: 122px;
    color: purple;
    @media screen and (min-width: 768px) {
      flex-basis: calc(100% / 3 - 30px);
    }
    @media screen and (min-width: 1200px) {
      flex-basis: calc(100% / 6 - 30px);
      flex-wrap: nowrap;
    }
  }

  .client-link {
    @include display-align();
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    margin-left: 30px;
    margin-top: 50px;
    color: #AFB1B8;
    width: 210px;
    height: 92px;
    transition: fill 250ms  cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
    border: 1px solid var(--accent-color);
    }
    @media screen and (min-width: 768px) {
      width: 226px;
    }
    @media screen and (min-width: 1200px) {
      width: 170px;
    }
  }
  

  .client-icon {
    fill: #AFB1B8;
    transition: fill 250ms  cubic-bezier(0.4, 0, 0.2, 1);
    .client-link:hover &,
    .client-link:focus & {
    fill: var(--accent-color);
    }
  }