.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}
.container-footer {
  display: flex;
  align-items: baseline;
  justify-content: center;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.footer-logo {
  @include family-weight();
  @include font (null, 26px, 1.19);
  color: var(--title-color);
  display: inline-block;
  padding-bottom: 20px;
}
.footer-address-item:not(:last-child) {
  margin-bottom: 9px;
}
.logo-web-footer {
  @include family-weight();
  @include font (null, 26px, 1.19);
  letter-spacing: 0.03em;
  color: #2196F3;
}
.footer-address {
  font-style: normal;
  @include font (null, 14px, 1.71);
  color: var(--title-color);
  margin-top: 20px;
}
.footer-contacts {
  font-style: normal;
  @include font (normal, 14px, 1.71);
  color: rgba(255, 255, 255, 0.6);
}

.container-middle {
  width: 206px;
  height: 80px;
  margin-left: 70px;

}
.footer-title-link {
@include font ();
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.footer-social-list {
  @include display-align();
  list-style: none;
  padding: 0px;
}
.footer-social-list-item:not(:first-child) {
  margin-left: 10px;
}
.footer-social-link {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #FFFFFF;
  transition: background-color 250ms  cubic-bezier(0.4, 0, 0.2, 1);
  &:hover, &:focus {
    background-color: #2196F3;
  }
}
.footer-link-icons {
  fill: #FFFFFF;
}

.container-right {
  width: 570px;
  height: 86px;
  margin-left: 93px;
}
.container-right-form {
  display: flex;
  justify-content: space-between;
}

.form-newsletter {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: transparent;
  color: var(--title-color);
  padding-left: 16px;
  cursor: pointer;
  transition: border-color 250ms  cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  &:focus {
  border-color: var(--accent-color);
}
}
.footer-btn {
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  margin-right: auto;
  margin-left: 12px;
  @include font (700, 16px, 1.87);
  letter-spacing: 0.06em;
  cursor: pointer;
  display: flex;
  padding: 10px 28px 10px 29px;
  transition: background-color 250ms  cubic-bezier(0.4, 0, 0.2, 1);
  &:hover, :focus {
    background-color: #188CE8;
  }
}
.footer-btn-text {
  width: 143px;
  height: 30px;
  @include align-font(); 
  @include font (null, 16px, 1.87);
  display: flex;
  letter-spacing: 0.06em;
  color: var(--title-color); 
}
.footer-right-link-icons {
  margin-left: 10px;
  fill: var(--title-color);
  @include display-align();
  text-align: center;
  flex-direction: column;
  align-content: center;
}
