.page-header {
  background-color: var(--title-color);
  border-bottom-color:#ECECEC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.header-container,
.container-items {
  display: flex;
  align-items: center;
} 
.header-container {
  @media screen and (min-width: 768px) {
  padding-left: 0px;
}
}
.header-list {
  display: flex;
  // @media screen and (min-width: 768px) {
  //   flex-direction: column;
  //   align-items: center;
  //   align-content: flex-start;
  // }
}
.header-item-nav {
  // display: flex;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: 78px;
    // flex-direction: column;
    // align-items: center;
    // align-content: flex-start;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.header-item:not(:last-child) {
  margin-right: 50px;
}
.header-item {
  display: none;
  @media screen and (min-width: 768px) {
    display: inline;
  }
  @media screen and (min-width: 1200px) {
    display: inline;
  }
}

.header-connect {
  margin-left: auto;
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
  @media screen and (min-width: 1200px) {
    display: block;
  }
}
.header-logo {
  margin-right: 276px;
  @include family-weight();
  @include font (null, 26px, 1.19);
  color: var(--header-color);
  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.logo-web-header {
  @include family-weight();
  @include font (null, 26px, 1.19);
  color: #2196F3;
}
.header-link {
  @include font (bold, 14px, 1.33);
  letter-spacing: 0.02em;
  color: var(--header-color);
  transition: color 250ms  cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px; 
  &:hover, &:focus {
    color: var(--accent-color);
  }
}
.current::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  background-color: var(--accent-color);
  height: 4px;
  left: 0;
  bottom: 0;
  border-radius: 2px;
}
.header-contacts {
  font-style: normal;
  @include font (bold, 14px, 1.33);
  color: var(--color-text);
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: color 250ms  cubic-bezier(0.4, 0, 0.2, 1);
  &:focus, &:hover {
    color: var(--accent-color);
  }
}
.header-email {
  cursor: pointer;
  fill: var(--color-text);
  margin-right: 10px;
  .header-contacts:hover &,
  .header-contacts:focus & {
    fill: var(--accent-color);
  }
}
.mob-menu {
  background-color: var(--title-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  padding-top: 10px;
  padding-bottom: 48px;
  .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
}
.mob-menu-btn {
  margin-top: auto;
}  
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.menu-close-btn {
  display: block;
  margin-left: auto;
  margin-bottom: 30px;
  border: 1px solid rgba(255, 255, 255, 0.652);
  background-color: transparent;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // box-sizing: border-box;
  fill: var(--color-text);
}
.menu-close-btn:hover, 
.menu-close-btn:focus {
  fill: #2196F3;
}
.menu-open-btn {
  display: flex;
  margin-left: auto;
  border: 1px solid rgba(255, 255, 255, 0.652);
  background-color: transparent;
  fill: var(--color-text);
  @media screen and (min-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.menu-open-btn:hover, 
.menu-open-btn:focus {
  fill: #2196F3;
}
.mob-header-item {
  &:not(:last-child) {
    margin-bottom: 32px;
  } 
}
.mob-header-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms  cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-header-link:hover, 
.mob-header-link:focus {
  color: #2196F3;
}
.mob-tel  {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196F3;
  display: block;
  margin-bottom: 32px;
}
.mob-email  {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  display: block;
  margin-bottom: 64px;
}

.mob-social-list {
  display: flex;
}
.mob-social-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-right: 10px;
}
.mob-social-link {
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
  margin-right: 10px;
}